/* Body */

body {
  /* background-image: linear-gradient(to right, green, yellow); */
  background-image: url(../Pictures/grass.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Body font */
  font-family: 'Sarala', sans-serif;
}



/* Nav bar */

/* Navbar backhround-color */
.bg-color {
  background-color: rgb(237,233,221);
}

/* Active Tab */
nav > div.container-fluid > div.collapse > div.navbar-nav > a.active2 {
  color: white;
  background-color: #4b9955;
  border-radius: 5px;
}

/* Border-radius for nav-links */
nav > div.container-fluid > div.collapse > div.navbar-nav > a {
  border-radius: 5px;
}

/* Nav-link styles */
nav > div.container-fluid > div.collapse > li {
  color: white;
  background-color: #4b9955;
  border-radius: 5px;
  font-size: 16.5px;
}

/* Hover attribute for nav-links */
nav > div.container-fluid > div.collapse > div.navbar-nav > a:hover {
  background-color: #3c7343;
  border-radius: 5px;
  color: white;
}

/* Active click attribute for nav-links */
nav > div.container-fluid > div.collapse > div.navbar-nav > a:active {
  color: #adadad;
}



/* Footer */

/* Footer styles */
footer {
  position: absolute;
  width: 100%;
  background-color: rgb(237,233,221);
}

/* Footer link styles */
footer > div.p-3 > section.links > a {
  background-color: #4b9955;
  color: white;
}

/* Hover attribute for footer links */
footer > div.p-3 > section.links > a:hover {
  background-color: #3c7343;
}

/* Active attribute for footer links */
footer > div.p-3 > section.links > a:active {
  color: #adadad;
}



/* Grid container/Columns styles */

.shade {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}



/* Picture flip fun facts */

/* f1_container styles */
.f1_container {
    -webkit-perspective: 1000;
    perspective: 1000;
}

/* f1_card animation and transition styles */
.f1_card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

/* Flips picture to fun fact + styles */
.f1_container.active .f1_card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

/* Front of fun fact picture */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Front and back switches */
.face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
}



/* Extra styles */

h1.text-center {
  color: white;
}

#lawn {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  /*cursor: pointer;*/
  padding: 0 0 0 0;
}

.white {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 10px;
}

p {
  color: white;
}

ul {
  color: white;
}

div.carousel {
  border-radius: 0 0 0 0;
}
