/* Body */

body {
  background: #D3D3D3;
  /*background-image: url(../Pictures/Credited-Material/creditedmaterial-background-computer.jpeg);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Body font */
  font-family: 'Sarala', sans-serif;
  font-size: 100%;
}

.album {
  border-radius: 10px;
    margin: 3% 0;
}

div.intro {
  padding: 3% 0;
  margin: 3% 0 0 0;
  border-radius: 10px;
  text-align: center;
}

.intro-text {
  font-size: 120%;
}


@media screen and (max-width: 1440px) {
  .intro-text {
    font-size: 120%;
  }
}

@media screen and (max-width: 1025px) {
  .intro-text {
    font-size: 110%;
  }
}

@media screen and (max-width: 1200px) {
  .nav-link {
    font-size: 75%;
  }


@media screen and (max-width: 991.5px) {
  .nav-link {
    font-size: 100%;
  }
}

/* Nav bar */

/* Navbar background-color */
.bg-lawn-color {
  background-color: rgb(237,233,221);
}

/* Active Tab */
nav > div.container-lg > div.collapse > div.navbar-nav > a.active2 {
  color: white;
  background-color: #4b9955;
}

/* Hover attribute for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a:hover {
  background-color: #3c7343;
  color: white;
}

/* Active click attribute for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a:active {
  color: #adadad;
}

/* Border-radius for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a {
  border-radius: 5px;
}




/* Footer */

/* Footer styles */
footer {
  width: 100%;
  background-color: rgb(237,233,221);
}

/* Footer link styles */
footer > div.p-3 > section.links > a {
  background-color: #4b9955;
  color: white;
}

/* Hover attribute for footer links */
footer > div.p-3 > section.links > a:hover {
  background-color: #3c7343;
}

/* Active attribute for footer links */
footer > div.p-3 > section.links > a:active {
  color: #adadad;
}



/* Grid container/Columns styles */

.shade {
  background-color: rgba(0,0,0,0.5);
}
.page-padding {
  padding: 2.5%;
}



/* Link styles */

a {
  text-decoration-line: none;
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: #a8a7a7;
}

a.hover:hover {
  color: #c9c9c9
}

a.active:active {
  color: #a8a7a7;
}



span.facebook {
  width: 45px;
}

span.email {
  width: 45px;
}
