/* Body */

body {
  /*background-image: url(../Pictures/Main-Page/main-page-computer.jpeg);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Body font */
  font-family: 'Sarala', sans-serif;
  font-size: 100%;
  background-color: white;
}



/* Nav bar */

/* Navbar background-color */
.bg-lawn-color {
  background-color: rgb(237,233,221);
}

/* Active Tab */
nav > div.container-lg > div.collapse > div.navbar-nav > a.active2 {
  color: white;
  background-color: #4b9955;
}

/* Hover attribute for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a:hover {
  background-color: #3c7343;
  color: white;
}

/* Active click attribute for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a:active {
  color: #adadad;
}

/* Border-radius for nav-links */
nav > div.container-lg > div.collapse > div.navbar-nav > a {
  border-radius: 5px;
}



/* Footer */

/* Footer styles */
footer {
  width: 100%;
  background-color: rgb(237,233,221);
}

/* Footer link styles */
footer > div.p-3 > section.links > a {
  background-color: #4b9955;
  color: white;
}

/* Hover attribute for footer links */
footer > div.p-3 > section.links > a:hover {
  background-color: #3c7343;
}

/* Active attribute for footer links */
footer > div.p-3 > section.links > a:active {
  color: #adadad;
}



/* Hero Slider */

#carouselHero .carousel-item.hero{
  background-image:url("../Pictures/Main-Page/epl-picture.jpg");
  background-size: 50%;
  background-position-x: 10%;
}

div.hero > div.row > .carousel-caption {
  position: relative;
  left: 58%;
  top: 100px;
  background:rgba(0,0,0,0.5);
  border-radius: 10px;
}

#carouselHero .carousel-item.trustworthy{
background-image: url('../Pictures/Others/license-removebg-preview.png');
background-position-x: 20%;
background-size: 37%;
background-repeat: no-repeat;
}

div.trustworthy > div.row > .carousel-caption {
  position: relative;
  left: 51%;
  top: 90px;
}

#carouselHero .carousel-item.services{
  background-image:url('../Pictures/Information-Page/info-background-computer.jpeg');
}

div.services > div.row > .carousel-caption {
  background:rgba(0,0,0,0.8);
  position: relative;
  left: 8.5%;
  top: 100px;
  border-radius: 10px;
}

#carouselHero .carousel-item{
  height:80vh;
  width:100%;
  min-height:350px;
  background:no-repeat;
  background-size:cover;
}

#carouselHero .carousel-item .caption{
  padding:40px;
  color:white;
}

#grad-1 {
  background: linear-gradient(lightblue, green);
}

ul.col-lg-6 {
  list-style-type: none;
}

.carousel-control-prev {
  background-color: black;
  width: 5%;
}

.carousel-control-next {
  background-color: black;
  width: 5%;
}

.back-img {
  background-image: url('../Pictures/Main-Page/main-page-computer.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home Page */

div.intro {
  padding: 3% 0;
}

div.hello {
  background-color: red;
  padding: 5%;
  margin: 5% 0px 5% 0px;
}

a:hover {
  background-color: #3c7343;
  color: white;
}
